body {
  font-feature-settings: "liga" 0, "tnum", "case" 0, "calt", "zero" 0, "ss01", "locl";
}

.post-content p {
  text-align: justify !important;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

table {
  table-layout: auto;
}

a {
  text-underline-offset: 3px;
  text-decoration-color: #808080;
}
