body {
  font-feature-settings: "liga" 0, "tnum", "case" 0, "calt", "zero" 0, "ss01", "locl";
}

.index-content {
  margin-bottom: 1.5em;
}

.post-content p {
  text-align: justify !important;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

table {
  table-layout: auto;
}

a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #808080;
}

.copyright a {
  text-decoration: none;
}

.challenge-tag {
  background-color: var(--background-secondary);
  color: var(--color);
  padding: 2px 8px;
  margin-bottom: 0.5em;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}

.spoiler {
	filter: blur(4px);
	transition-property: -webkit-filter;
	transition-duration: .3s;
}

.spoiler:hover, .spoiler:focus {
	filter: blur(0);
}

hr {
  margin-top: 2em;
}

h2 {
  margin-block-start: 1.5em;
}
